<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Address Details</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/dist/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.11.1/font/bootstrap-icons.css}">
</head>
<body>
<div class="container mt-5">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Country</th>
            <th>City</th>
            <th>Street</th>
            <th>Building</th>
            <th>Apartment</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="a : ${address}">
            <td th:text="${a.id}"></td>
            <td th:text="${a.country}"></td>
            <td th:text="${a.city}"></td>
            <td th:text="${a.street}"></td>
            <td th:text="${a.building}"></td>
            <td th:text="${a.apartment}"></td>
            <td>
                <a class="align-content-sm-center btn btn-info btn-sm" th:href="@{/address/{id}/edit(id=${a.id})}">Update</a>
            </td>
            <td>
                <a class="align-content-sm-center btn btn-danger btn-sm" th:href="@{/address/{id}/delete(id=${a.id})}"
                   th:data-confirm-delete="|Are you sure you want to delete this address?|"
                   onclick="return confirm(this.getAttribute('data-confirm-delete'))"
                >Delete
                    <span class="bi bi-trash3"></span></a>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-info btn-sm" th:href="@{/address/list}">List Addresses <span class="bi bi-list"></span></a>
    <a class="btn btn-info btn-sm" th:href="@{/}">Home <span class="bi bi-house"></span></a>
</div>
<script th:src="@{webjars/bootstrap/5.3.2/dist/js/bootstrap.bundle.js}"></script>
</body>
</html>