<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Addresses</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/dist/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.11.1/font/bootstrap-icons.css}">

</head>
<body>
<div class="container mt-5">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead class="table-dark">
        <tr class="text-center">
            <th>№</th>
            <th>Country</th>
            <th>City</th>
            <th>Street</th>
            <th>Building</th>
            <th>Apartment</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="a, rowStat : ${addresses}">
            <td th:text="${rowStat.index + 1}"></td>
            <td th:text="${a.country}"></td>
            <td th:text="${a.city}"></td>
            <td th:text="${a.street}"></td>
            <td th:text="${a.building}"></td>
            <td th:text="${a.apartment}"></td>
            <td>
                <a class="btn btn-info" th:href="@{/address/{id}(id=${a.id})}">Info</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-info" th:href="@{/address/add}">Create Address</a>
    <a class="btn btn-info" th:href="@{/}">Home <span class="bi bi-house"></span></a>

</div>

<script th:src="@{webjars/bootstrap/5.3.2/dist/js/bootstrap.bundle.js}"></script>
</body>
</html>
