<div th:fragment="topnav(link, text)">
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary-subtle">
        <div class="container">
            <a class="navbar-brand" href="/" th:text="Notes">Notes</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
<!--                <form class="d-flex" method="get" th:action="@{/search/name}">-->
<!--                    <input class="form-control me-2" type="search" name="name" placeholder="Search By Name" aria-label="Search">-->
<!--                    <button class="btn btn-sm btn-dark me-2" type="submit">Search</button>-->
<!--                </form>-->
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="${link}" th:text="${text}">${text}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Home<span
                                class="bi bi-house"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/search}"> <span
                                class="bi bi-search"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>