<div th:fragment="contactsTable">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead class="table-dark">
        <tr class="text-center">
            <th class="col-1">№</th>
            <th class="col-6">Contact
                <a th:href="@{/contact/sortByFullName?direction=asc}" class="sort-icon" th:if="${direction != 'desc'}">
                    <span class="bi bi-chevron-up"></span>
                </a>
                <a th:href="@{/contact/sortByFullName?direction=desc}" class="sort-icon" th:if="${direction != 'asc'}">
                    <span class="bi bi-chevron-down"></span>
                </a>
            </th>
            <th class="col-3">Last Updated
                <a th:href="@{/contact/sortByLastUpdate?direction=asc}" class="sort-icon"
                   th:if="${direction != 'desc'}">
                    <span class="bi bi-chevron-up"></span>
                </a>
                <a th:href="@{/contact/sortByLastUpdate?direction=desc}" class="sort-icon"
                   th:if="${direction != 'asc'}">
                    <span class="bi bi-chevron-down"></span>
                </a>
            </th>
            <th class="col-2">Details</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="contact, rowStat : ${contacts}">
            <td class="col-1" th:text="${rowStat.index + 1}"></td>
            <td>
                <a th:href="@{/contact/{id}(id=${contact.id})}" style="text-decoration: none; color: inherit;">
                    <span th:text="${contact.getFullName()}"></span>
                </a>
            </td>
            <td class="col-3" th:if="${contact.getLastUpdate()} != null" th:text="${contact.getLastUpdate()}"></td>
            <td class="col-3" th:if="${contact.getLastUpdate()} == null"><span>Never updated.</span></td>
            <td class="col-2">
                <div th:replace="fragments/buttons :: infoButton(${'/contact/' + contact.id}, 'Info', 'bi bi-info-circle')"></div>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<div th:fragment="addressesTable">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead class="table-dark">
        <tr class="text-center">
            <th>№</th>
            <th>Country</th>
            <th>City</th>
            <th>Street</th>
            <th>Building</th>
            <th>Apartment</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="address, rowStat : ${addresses}">
            <td th:text="${rowStat.index + 1}"></td>
            <td th:text="${address.country}"></td>
            <td th:text="${address.city}"></td>
            <td th:text="${address.street}"></td>
            <td th:text="${address.building}"></td>
            <td th:text="${address.apartment}"></td>
            <td>
                <div th:replace="fragments/buttons :: infoButton(${'/address/' + address.id}, 'Info', 'bi bi-info-circle')"></div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
