<!-- resources/templates/fragments/table.html -->
<div th:fragment="contactsTable">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead class="table-dark">
        <tr class="text-center">
            <th>№</th>
            <th>Contact
                <a th:href="@{/contact/sortByFullName?direction=asc}" class="sort-icon" th:if="${direction != 'desc'}">
                    <span class="bi bi-arrow-up"></span>
                </a>
                <a th:href="@{/contact/sortByFullName?direction=desc}" class="sort-icon" th:if="${direction != 'asc'}">
                    <span class="bi bi-arrow-down"></span>
                </a>
            </th>
            <th>Last Updated
                <a th:href="@{/contact/sortByLastUpdate?direction=asc}" class="sort-icon" th:if="${direction != 'desc'}">
                    <span class="bi bi-arrow-up"></span>
                </a>
                <a th:href="@{/contact/sortByLastUpdate?direction=desc}" class="sort-icon" th:if="${direction != 'asc'}">
                    <span class="bi bi-arrow-down"></span>
                </a>
            </th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="contact, rowStat : ${contacts}">
            <td th:text="${rowStat.index + 1}"></td>
            <td th:text="${contact.getFullName()}"></td>
            <td th:text="${contact.getLastUpdate()}"></td>
            <td>
                <a class="btn btn-info" th:href="@{/contact/{id}(id=${contact.id})}">Info</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
