<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notes Spring Boot</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/dist/css/bootstrap.css}">
</head>
<body>
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-dark text-white">
            <h5 class="card-title">Notes</h5>
        </div>
        <div class="card-body">
            <a href="/contact" class="btn btn-outline-primary">Contacts</a>
            <a href="/address" class="btn btn-outline-info">Addresses</a>
            <a href="/search" class="btn btn-outline-dark">Search</a>
        </div>
    </div>
</div>
</body>
</html>
