<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact Details</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/dist/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.11.1/font/bootstrap-icons.css}">
</head>
<body>
<div class="container mt-5">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Home Address</th>
            <th>Phone Numbers</th>
            <th>Birth Date</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${contact.id}"></td>
            <td th:text="${contact.firstName}"></td>
            <td th:text="${contact.lastName}"></td>
            <td th:if="${contact.homeAddress != null}"
                th:text="${contact.homeAddress.country + ', ' + contact.homeAddress.city + ', ' + contact.homeAddress.street
                         + ', ' + contact.homeAddress.building + ', apt. ' + contact.homeAddress.apartment}">
            </td>
            <td th:unless="${contact.homeAddress != null}">
                <span>No home address available.</span>
            </td>
            <td>
                <ul th:if="${not #lists.isEmpty(contact.phoneNumbers)}">
                    <li th:each="phoneNumber : ${contact.phoneNumbers}" th:text="${phoneNumber.number}"></li>
                </ul>
                <span th:if="${#lists.isEmpty(contact.phoneNumbers)}">No phone numbers available.</span>
            </td>
            <td th:text="${contact.birthDate}"></td>

            <td>
                <div class="container">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <a class="btn btn-info btn-sm me-2"
                               th:href="@{/contact/{id}/edit(id=${contact.id})}"
                            >Update
                            </a>
                            <a class="btn btn-danger btn-sm"
                               th:href="@{/contact/{id}/delete(id=${contact.id})}"
                               th:data-confirm-delete="|Are you sure you want to delete this contact?|"
                               onclick="return confirm(this.getAttribute('data-confirm-delete'))"
                            >Delete
                                <span class="bi bi-trash3"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </td>

        </tr>
        </tbody>

    </table>
    <a class="btn btn-info btn-sm" th:href="@{/contact}">List Contacts <span class="bi bi-list"></span></a>
    <a class="btn btn-info btn-sm" th:href="@{/}">Home <span class="bi bi-house"></span></a>
</div>
<script th:src="@{webjars/bootstrap/5.3.2/dist/js/bootstrap.bundle.js}"></script>
</body>
</html>