<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Contact</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/dist/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.11.1/font/bootstrap-icons.css}">
</head>
<body>
<div th:replace="~{fragments/navbar :: topnav('/contact', 'List Contacts')}"></div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-dark text-white text-center">
                    <h5>Edit Contact</h5>
                </div>
                <div class="card-body">
                    <form method="post" th:object="${contact}" th:action="@{/contact/{id}/edit(id=${contact.id})}">
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="firstName" class="form-label">First Name</label>
                                    <input type="text" class="form-control" id="firstName" name="firstName"
                                           th:value="${contact.firstName}" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="lastName" class="form-label">Last Name</label>
                                    <input type="text" class="form-control" id="lastName" name="lastName"
                                           th:value="${contact.lastName}" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="birthDate" class="form-label">Birth Date</label>
                                    <input type="date" class="form-control" id="birthDate" name="birthDate"
                                           th:value="${contact.birthDate}" required>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="homeAddress" class="form-label">Home Address</label>
                            <div class="col-md-8">
                                <div class="mb-3">
                                    <select class="form-select" id="homeAddress" name="homeAddress">
                                        <option th:if="${contact.homeAddress != null}"
                                                th:value="${contact.homeAddress.id}"
                                                th:text="${contact.homeAddress.toString()}"></option>
                                        <option th:if="${addresses != null}"
                                                th:each="address : ${addresses}"
                                                th:value="${address.id}"
                                                th:unless="${contact.homeAddress == address}"
                                                th:text="${address.toString()}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <a class="btn btn-outline-primary btn-sm me-2" th:href="@{/address/add}">Create Address</a>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-8" id="phones">
                                <label class="form-label">Phone Numbers</label>
                                <div th:if="${contact.phones != null and not #lists.isEmpty(contact.phones)}">
                                    <div th:each="phone, phoneIndex : ${contact.phones}" class="row mb-3">
                                        <div class="col-8">
                                            <input class="form-control" th:value="${phone}" th:name="phones"
                                                   th:id="'Phone' + ${phoneIndex.index}" readonly/>
                                        </div>
                                        <div class="col-4">
                                            <a class="btn btn-outline-secondary btn-sm ms-2"
                                               th:onclick="'editItem(' + ${phoneIndex.index} + ', \'Phone\')'"
                                               th:id="'editPhoneButton' + ${phoneIndex.index}">
                                                Edit <span class="bi bi-pencil"></span>
                                            </a>

                                            <a class="btn btn-outline-secondary btn-sm ms-2"
                                               th:onclick="'deleteItem(' + ${phoneIndex.index} + ', \'Phone\')'"
                                               th:id="'deletePhoneButton' + ${phoneIndex.index}">
                                                Delete <span class="bi bi-trash"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-4">
                                    <a class="btn btn-outline-primary btn-sm me-2" onclick="createInputPhoneNumber()">Add
                                        Phone Number</a>
                                </div>
                            </div>
                        </div>


                        <div class="row mb-3">
                            <div class="col-2">
                                <label class="form-label">Partners</label>
                            </div>
                            <div class="col-8">
                                <input type="hidden" th:field="*{selectedContactIds}"/>

                                <div th:each="person : ${contacts}" th:unless="${person.id == contact.id}">
                                    <div class="form-check">
                                        <span th:text="${person.getFullName()}"></span>
                                        <input type="checkbox" th:value="${person.id}"
                                               th:checked="${selectedContactIds != null and selectedContactIds.contains(person.id)}"
                                               class="form-check-input" name="partners"/>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row mb-3">
                            <div class="col-8 mt-3" id="notes">
                                <label class=form-label>Notes:</label>
                                <div th:if="${contact.notes != null and not #lists.isEmpty(contact.notes)}">
                                    <div th:each="note, noteIndex : ${contact.notes}" class="row mb-3">
                                        <div class="col-8">
                                            <textarea class="form-control" th:text="${note}"
                                                      th:name="notes"
                                                      th:id="'Note' + ${noteIndex.index}" readonly></textarea>
                                        </div>
                                        <div class="col-4">
                                            <a class="btn btn-outline-secondary btn-sm ms-2"
                                               th:onclick="'editItem(' + ${noteIndex.index} + ', \'Note\')'"
                                               th:id="'editNoteButton' + ${noteIndex.index}">
                                                Edit <span class="bi bi-pencil"></span>
                                            </a>

                                            <a class="btn btn-outline-secondary btn-sm ms-2"
                                               th:onclick="'deleteItem(' + ${noteIndex.index} + ', \'Note\')'"
                                               th:id="'deleteNoteButton' + ${noteIndex.index}">
                                                Delete <span class="bi bi-trash"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-4">
                                    <a class="btn btn-outline-primary btn-sm me-2" onclick="createTextarea()">Add
                                        Note</a>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <button type="submit" class="btn btn-info">Update</button>
                                    <a class="btn btn-outline-secondary ms-2"
                                       th:href="@{/contact/{id}(id=${contact.id})}">
                                        Cancel <span class="bi bi-x"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/main.js}"></script>
</body>
</html>